In [1]:
import pandas as pd
import numpy as np
from datetime import date
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import  OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
import seaborn as sns
import matplotlib.pyplot as plt
from  sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score
import math

In [2]:
cd ..

C:\Users\tomil

In [3]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0047-F845

 Directory of C:\Users\tomil

07/01/2023  11:17    <DIR>          .
22/07/2022  00:01    <DIR>          ..
19/11/2022  08:41             3,551 .bash_history
31/07/2022  18:15                55 .gitconfig
13/11/2022  15:45    <DIR>          .ipynb_checkpoints
30/07/2022  11:27    <DIR>          .ipython
30/07/2022  14:12    <DIR>          .jupyter
08/08/2022  21:10    <DIR>          .matplotlib
06/06/2022  16:28    <DIR>          .vscode
02/05/2021  00:34    <DIR>          3D Objects
22/07/2022  00:07    <DIR>          Contacts
31/10/2022  11:52    <DIR>          Credit-Prediction-to-Default
26/07/2022  20:54    <DIR>          data_1.01_activities
31/10/2022  12:04    <DIR>          data_mid_bootcamp_project_FIFA_MoneyBall-miniproject
02/08/2022  10:28    <DIR>          Documents
10/01/2023  03:09    <DIR>          Downloads
22/07/2022  00:07    <DIR>          Favorites
02/09/2022  18:23    <DIR>          FIFA 19 MINI PROJECT
02/08/2022  10:18    <DIR>          IronTomilola
09/08/2022  13:07           102,487 LAB 3.ipynb
30/08/2022  12:52            48,862 LAB 5 r.ipynb
30/08/2022  14:41            78,474 LAB 6 r.ipynb
22/11/2022  20:57    <DIR>          lab-aggregation-revisited-subqueries
04/08/2022  09:55    <DIR>          lab-bash
06/10/2022  14:38    <DIR>          lab-cleaning-categorical-data
06/10/2022  14:36    <DIR>          lab-cleaning-numerical-data
10/01/2023  11:29    <DIR>          lab-comparing-regression-models
01/09/2022  08:23    <DIR>          lab-customer-analysis-final-round
02/08/2022  10:30    <DIR>          lab-customer-analysis-round-1
30/08/2022  15:50    <DIR>          lab-customer-analysis-round-2
30/08/2022  16:04    <DIR>          lab-customer-analysis-round-3
01/09/2022  19:27    <DIR>          lab-customer-analysis-round-4
31/10/2022  23:39    <DIR>          lab-customer-analysis-round-5
10/01/2023  01:28    <DIR>          lab-customer-analysis-round-7
10/01/2023  02:49    <DIR>          lab-data-cleaning-and-wrangling
24/11/2022  16:18    <DIR>          lab-feature-extraction
27/10/2022  11:12    <DIR>          lab-getting-started-with-tableau
07/01/2023  11:17    <DIR>          lab-handling-data-imbalance-classification
06/10/2022  14:33    <DIR>          lab-imbalanced-data
23/08/2022  00:48    <DIR>          lab-intro-sql
10/01/2023  01:31    <DIR>          lab-predictions-logistic-regression
06/10/2022  14:44    <DIR>          lab-random-variable-distributions
23/08/2022  13:59    <DIR>          lab-sql-2
04/10/2022  12:45    <DIR>          lab-sql-3
31/08/2022  11:26    <DIR>          lab-sql-4
04/10/2022  21:36    <DIR>          lab-sql-5
01/09/2022  11:52    <DIR>          lab-sql-6
05/09/2022  16:34    <DIR>          lab-sql-7
12/09/2022  19:22    <DIR>          lab-sql-8
13/09/2022  10:43    <DIR>          lab-sql-9
22/11/2022  22:25    <DIR>          lab-sql-advanced-queries
25/09/2022  18:03    <DIR>          lab-sql-basics
16/09/2022  21:14    <DIR>          lab-sql-join
20/09/2022  10:28    <DIR>          lab-sql-join-multiple-tables
22/11/2022  20:46    <DIR>          lab-sql-rolling-calculations
06/10/2022  15:08    <DIR>          lab-sql-self-cross-join
21/11/2022  23:12    <DIR>          lab-sql-subqueries
01/11/2022  11:45    <DIR>          lab-tableau-manipulating-data-from-multiple-sources
22/07/2022  00:07    <DIR>          Links
22/07/2022  00:07    <DIR>          Music
13/12/2022  18:31    <DIR>          OneDrive
04/05/2021  08:52    <DIR>          Pictures
20/09/2022  10:59                41 README.md
22/07/2022  00:07    <DIR>          Saved Games
08/11/2022  12:42    <DIR>          seaborn-data
22/07/2022  00:07    <DIR>          Searches
17/09/2022  15:39             3,560 sql text query for 10 of setember.txt
08/08/2022  19:26            15,985 Untitled.ipynb
11/08/2022  09:36             2,882 Untitled1.ipynb
19/08/2022  20:56            22,177 Untitled2.ipynb
17/10/2022  18:41               589 Untitled3.ipynb
22/07/2022  00:07    <DIR>          Videos
02/09/2022  18:23                18 workspace.code-workspace
              12 File(s)        278,681 bytes
              61 Dir(s)  409,541,754,880 bytes free

In [4]:
cd lab-customer-analysis-round-3

C:\Users\tomil\lab-customer-analysis-round-3

In [5]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0047-F845

 Directory of C:\Users\tomil\lab-customer-analysis-round-3

30/08/2022  16:04    <DIR>          .
07/01/2023  11:17    <DIR>          ..
08/08/2022  20:51    <DIR>          .github
30/08/2022  12:03    <DIR>          .ipynb_checkpoints
08/08/2022  20:51    <DIR>          files_for_lab
30/08/2022  12:23            76,310 LAB 3 r.ipynb
08/08/2022  20:51               753 readme.md
               2 File(s)         77,063 bytes
               5 Dir(s)  409,541,754,880 bytes free

In [6]:
cd files_for_lab

C:\Users\tomil\lab-customer-analysis-round-3\files_for_lab

In [7]:
cd csv_files

C:\Users\tomil\lab-customer-analysis-round-3\files_for_lab\csv_files

In [8]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0047-F845

 Directory of C:\Users\tomil\lab-customer-analysis-round-3\files_for_lab\csv_files

08/08/2022  20:51    <DIR>          .
08/08/2022  20:51    <DIR>          ..
08/08/2022  20:51         1,581,918 marketing_customer_analysis.csv
               1 File(s)      1,581,918 bytes
               2 Dir(s)  409,541,754,880 bytes free

In [9]:
df = pd.read_csv('marketing_customer_analysis.csv') # loading dataset

In [10]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [11]:
df.columns #checking the columns of the data

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [12]:
df.info()#info of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [13]:
df_num =df.select_dtypes(include=np.number)# checking for the numerical and categorical
df_cat =df.select_dtypes(object)

In [38]:
df_num

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [39]:
df_cat

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [15]:
dfcopy = df.copy()#creating a copy of the dataframe

In [16]:
dfcopy

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [17]:
from sklearn.preprocessing import MinMaxScaler

normalized = dfcopy.select_dtypes(np.number)
dfcopy[normalized.columns] = MinMaxScaler().fit_transform(normalized)

In [18]:
dfcopy

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,0.010629,No,Basic,Bachelor,2/24/11,Employed,F,0.562847,...,0.050505,0.0,0.000,Corporate Auto,Corporate L3,Offer1,Agent,0.132974,Two-Door Car,Medsize
1,QZ44356,Arizona,0.062406,No,Extended,Bachelor,1/31/11,Unemployed,F,0.000000,...,0.424242,0.0,0.875,Personal Auto,Personal L3,Offer3,Agent,0.391051,Four-Door Car,Medsize
2,AI49188,Nevada,0.134960,No,Premium,Bachelor,2/19/11,Employed,F,0.487763,...,0.383838,0.0,0.125,Personal Auto,Personal L3,Offer1,Agent,0.195764,Two-Door Car,Medsize
3,WW63253,California,0.070589,No,Basic,Bachelor,1/20/11,Unemployed,M,0.000000,...,0.656566,0.0,0.750,Corporate Auto,Corporate L2,Offer1,Call Center,0.183117,SUV,Medsize
4,HB64268,Washington,0.011245,No,Basic,Bachelor,2/3/11,Employed,M,0.438443,...,0.444444,0.0,0.000,Personal Auto,Personal L1,Offer1,Agent,0.047710,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,0.264137,No,Basic,Bachelor,2/10/11,Employed,M,0.719547,...,0.898990,0.0,0.125,Personal Auto,Personal L1,Offer2,Web,0.068485,Four-Door Car,Medsize
9130,PK87824,California,0.014719,Yes,Extended,College,2/12/11,Employed,F,0.216081,...,0.282828,0.0,0.000,Corporate Auto,Corporate L3,Offer1,Branch,0.131034,Four-Door Car,Medsize
9131,TD14365,California,0.076951,No,Extended,Bachelor,2/6/11,Unemployed,M,0.000000,...,0.373737,0.6,0.125,Corporate Auto,Corporate L2,Offer1,Branch,0.273297,Four-Door Car,Medsize
9132,UP19263,California,0.069098,No,Extended,College,2/3/11,Employed,M,0.219452,...,0.030303,0.0,0.250,Personal Auto,Personal L2,Offer3,Branch,0.238876,Four-Door Car,Large
9133,Y167826,California,0.008766,No,Extended,College,2/14/11,Unemployed,M,0.000000,...,0.909091,0.0,0.000,Corporate Auto,Corporate L3,Offer4,Call Center,0.127716,Two-Door Car,Medsize

In [19]:
dfcopy= dfcopy.drop('Policy Type',axis=1)
dfcopy= dfcopy.drop('Customer',axis=1)
dfcopy= dfcopy.drop('Response',axis=1)
dfcopy= dfcopy.drop('Education',axis=1)
dfcopy= dfcopy.drop('Gender',axis=1)
dfcopy= dfcopy.drop('Policy',axis=1)
dfcopy= dfcopy.drop('Renew Offer Type',axis=1)
dfcopy= dfcopy.drop('Sales Channel',axis=1)
dfcopy= dfcopy.drop('Vehicle Class',axis=1)
dfcopy= dfcopy.drop('State',axis=1)
dfcopy= dfcopy.drop('Effective To Date',axis=1)

## the columns are not numericals that is why i drop them.

In [20]:
dfcopy["Coverage"] = dfcopy["Coverage"].map({"Basic" : 0, "Extended" : 1, "Premium" : 2})
dfcopy["EmploymentStatus"] = dfcopy["EmploymentStatus"].map({"Employed" : 0, "Unemployed" : 1, "Medical Leave" : 2, "Disabled" : 3, "Retired" : 4})
dfcopy["Location Code"] = dfcopy["Location Code"].map({"Suburban" : 0, "Rural" : 1, "Urban" : 2})
dfcopy["Vehicle Size"] = dfcopy["Vehicle Size"].map({"Small" : 0, "Medsize" : 1, "Large" : 2})
#Encode the categorical variables

In [21]:
dfcopy

,Customer Lifetime Value,Coverage,EmploymentStatus,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Vehicle Size
0,0.010629,0,0,0.562847,0,Married,0.033755,0.914286,0.050505,0.0,0.000,0.132974,1
1,0.062406,1,1,0.000000,0,Single,0.139241,0.371429,0.424242,0.0,0.875,0.391051,1
2,0.134960,2,0,0.487763,0,Married,0.198312,0.514286,0.383838,0.0,0.125,0.195764,1
3,0.070589,0,1,0.000000,0,Married,0.189873,0.514286,0.656566,0.0,0.750,0.183117,1
4,0.011245,0,0,0.438443,1,Single,0.050633,0.342857,0.444444,0.0,0.000,0.047710,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.264137,0,0,0.719547,2,Married,0.050633,0.514286,0.898990,0.0,0.125,0.068485,1
9130,0.014719,1,0,0.216081,0,Divorced,0.075949,0.400000,0.282828,0.0,0.000,0.131034,1
9131,0.076951,1,1,0.000000,0,Single,0.101266,0.257143,0.373737,0.6,0.125,0.273297,1
9132,0.069098,1,0,0.219452,0,Married,0.147679,0.971429,0.030303,0.0,0.250,0.238876,2
9133,0.008766,1,1,0.000000,0,Single,0.067511,0.085714,0.909091,0.0,0.000,0.127716,1

In [23]:
dfcopy= dfcopy.drop('Marital Status',axis=1)

In [24]:
dfcopy = dfcopy.astype('float64')## changing it to numerical

In [25]:
dfcopy

,Customer Lifetime Value,Coverage,EmploymentStatus,Income,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Vehicle Size
0,0.010629,0.0,0.0,0.562847,0.0,0.033755,0.914286,0.050505,0.0,0.000,0.132974,1.0
1,0.062406,1.0,1.0,0.000000,0.0,0.139241,0.371429,0.424242,0.0,0.875,0.391051,1.0
2,0.134960,2.0,0.0,0.487763,0.0,0.198312,0.514286,0.383838,0.0,0.125,0.195764,1.0
3,0.070589,0.0,1.0,0.000000,0.0,0.189873,0.514286,0.656566,0.0,0.750,0.183117,1.0
4,0.011245,0.0,0.0,0.438443,1.0,0.050633,0.342857,0.444444,0.0,0.000,0.047710,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.264137,0.0,0.0,0.719547,2.0,0.050633,0.514286,0.898990,0.0,0.125,0.068485,1.0
9130,0.014719,1.0,0.0,0.216081,0.0,0.075949,0.400000,0.282828,0.0,0.000,0.131034,1.0
9131,0.076951,1.0,1.0,0.000000,0.0,0.101266,0.257143,0.373737,0.6,0.125,0.273297,1.0
9132,0.069098,1.0,0.0,0.219452,0.0,0.147679,0.971429,0.030303,0.0,0.250,0.238876,2.0
9133,0.008766,1.0,1.0,0.000000,0.0,0.067511,0.085714,0.909091,0.0,0.000,0.127716,1.0

In [26]:
dfcopy.corr() #checking for the correlation

,Customer Lifetime Value,Coverage,EmploymentStatus,Income,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Vehicle Size
Customer Lifetime Value,1.000000,0.168040,-0.031416,0.024366,0.001993,0.396262,0.011517,0.009418,-0.036343,0.021955,0.226451,-0.017098
Coverage,0.168040,1.000000,-0.013213,-0.010646,-0.052567,0.458997,0.016925,0.010658,-0.007971,-0.013515,0.279078,0.003775
EmploymentStatus,-0.031416,-0.013213,1.000000,-0.523033,-0.304800,-0.008087,-0.000936,0.005781,-0.017993,-0.017771,0.202212,0.017110
Income,0.024366,-0.010646,-0.523033,1.000000,0.412769,-0.016665,-0.026715,-0.000875,0.006408,-0.008656,-0.355254,-0.007945
Location Code,0.001993,-0.052567,-0.304800,0.412769,1.000000,-0.070777,-0.000153,0.018498,-0.002140,0.006416,-0.442507,0.109159
Monthly Premium Auto,0.396262,0.458997,-0.008087,-0.016665,-0.070777,1.000000,0.005026,0.020257,-0.013122,-0.011233,0.632017,-0.007768
Months Since Last Claim,0.011517,0.016925,-0.000936,-0.026715,-0.000153,0.005026,1.000000,-0.042959,0.005354,0.009136,0.007563,0.004761
Months Since Policy Inception,0.009418,0.010658,0.005781,-0.000875,0.018498,0.020257,-0.042959,1.000000,-0.001158,-0.013333,0.003335,-0.004923
Number of Open Complaints,-0.036343,-0.007971,-0.017993,0.006408,-0.002140,-0.013122,0.005354,-0.001158,1.000000,0.001498,-0.014241,0.005468
Number of Policies,0.021955,-0.013515,-0.017771,-0.008656,0.006416,-0.011233,0.009136,-0.013333,0.001498,1.000000,-0.002354,-0.018217
Total Claim Amount,0.226451,0.279078,0.202212,-0.355254,-0.442507,0.632017,0.007563,0.003335,-0.014241,-0.002354,1.000000,-0.073799
Vehicle Size,-0.017098,0.003775,0.017110,-0.007945,0.109159,-0.007768,0.004761,-0.004923,0.005468,-0.018217,-0.073799,1.000000

In [30]:
X=dfcopy.drop(['Total Claim Amount'], axis=1)
y=dfcopy['Total Claim Amount']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state = 42)

In [31]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [32]:
reg.fit(X_train, y_train)

LinearRegression()

In [33]:
from sklearn.metrics import r2_score
predictions_train = reg.predict(X_train) # create predictions for our train data
predictions_test = reg.predict(X_test)   # create predictions for our test data

r2_train = r2_score(y_train, predictions_train) # calculate r2 score for train data
r2_test = r2_score(y_test, predictions_test)    # calculate r2 score for test data

print('R2 value for train: {}'.format(r2_train))
print('R2 value for test: {}'.format(r2_test))

R2 value for train: 0.6020755788142691
R2 value for test: 0.5904108392398197

In [34]:
from sklearn.metrics import mean_squared_error

display(mean_squared_error(y_train,predictions_train))
display(mean_squared_error(y_test,predictions_test))

display(mean_squared_error(y_test,predictions_test,squared = False))
display(mean_squared_error(y_train,predictions_train,squared = False))

0.004066055555520192

0.003958258349669527

0.06291469104803366

0.06376562989197387

In [37]:
## using the MLPRegressor
lin = LinearRegression()
knn = KNeighborsRegressor(n_neighbors = 5)
mlp = MLPRegressor(max_iter = 1000)
def model_inplace(model, X_train, X_test, y_train, y_test):
    model.fit(X_train,y_train)
    print("score on train set:", model.score(X_train, y_train))
    print("score on test set:", model.score(X_test, y_test))
model_inplace(lin, X_train, X_test, y_train, y_test)
model_inplace(knn, X_train, X_test, y_train, y_test)
model_inplace(mlp, X_train, X_test, y_train, y_test)

score on train set: 0.6020755788142691
score on test set: 0.5904108392398197
score on train set: 0.793431042902098
score on test set: 0.6872981543031003
score on train set: 0.8062864586081977
score on test set: 0.786205244672011

In [ ]:
##Kneighborsregressor is more better than the linear Regression. its gave us the perfect score.